.env
.ipynb_checkpoints/
Data_Store/
Document_Classifier/.ipynb_checkpoints/
Document_Classifier/__pycache__/
Document_Classifier/Model_Training/.ipynb_checkpoints/
Document_Classifier/Model_Training/__pycache__/
Document_Classifier/Data_Preparations/.ipynb_checkpoints/
Document_Classifier/Data_Preparations/__pycache__/
Essence_Extractor/.ipynb_checkpoints/
Essence_Extractor/__pycache__/
Sentiment_Analyser/.ipynb_checkpoints/
Sentiment_Analyser/Data_Preparations/.ipynb_checkpoints/
Sentiment_Analyser/Model_Training/.ipynb_checkpoints/
Sentiment_Analyser/Model_Training/__pycache__/
Entity_Extractor/.ipynb_checkpoints/
Entity_Extractor/__pycache__/
Document_Insighter/.ipynb_checkpoints/
Effect_Forecaster/.ipynb_checkpoints/
Frontend/.ipynb_checkpoints/
Frontend/pages/.ipynb_checkpoints/
Summarizer/.ipynb_checkpoints/
Summarizer/__pycache__/
ChatDoc/.ipynb_checkpoints/
ChatDoc/__pycache__/
